{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <h1 class="dashtxt">welcome {{user}} </h1>

    <img src="{{url_for('static',filename='img/bunny.svg')}}" alt="" class="bunnyimg">
    <div class="entx">Experience endangered species in ‘ar’ .</div>
    <a href="endanger">
    <button class="enbtn" type="button" >See in AR</button></a>

    <img src="{{url_for('static',filename='img/dustpan.png')}}" alt="" class="imgcl">
    <div class="textcl">ways to clean environment.</div>
    <a href="clean"><button type="button" class="btncl">explore</button></a>
    {% endblock %}