{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    <div class="titleen">Endangered Species</div>
    <div class="boxdol">
    </div>
    <div class="titledol">
        Dolphins
    </div>
    <div class="paradol">
        High levels of pollution can directly kill prey species and dolphins, and completely destroy their habitat. As the top predator, river dolphins have been known to have high levels of persistent toxic chemicals in their bodies, which is likely to adversely affect their health.
    </div>
    <a href="https://go.echoar.xyz/TgRy"> <button class="btndol">
        3D model and AR
    </button> </a>
    <img src="{{url_for('static',filename='img/dolphin.png')}}" alt="" class="dolimg">

    <!-- elephant -->
    <div class="boxele">
    </div>
    <div class="titleele">
        elephants
    </div>
    <div class="paraele">
        With only 40,000-50,000 left in the wild, the species is classified as endangered. And it is critical to conserve both African and Asian elephants since they play such a vital role in their ecosystems as well as contributing towards tourism and community incomes in many areas.
    </div>
    <a href="https://go.echo3d.co/44m4"> <button class="btnele">
        3D model and AR
    </button> </a>
    <img src="{{url_for('static',filename='img/elephant.png')}}" alt="" class="eleimg">

    <!-- blue whales -->
    <div class="boxbw">
    </div>
    <div class="titlebw">
        blue whale
    </div>
    <div class="parabw">
        All of the large whale species have been at risk of extinction due to a long history of whaling. Despite the ban on hunting, blue whales face a number of threats, all of which are caused by humans. These threats include entanglement in fishing gear,food waste, and habitat impacts including noise pollution.
    </div>
    <a href="https://go.echoar.xyz/J77S"> <button class="btnbw">
        3D model and AR
    </button> </a>
    <img src="{{url_for('static',filename='img/bluewhale.png')}}" alt="" class="bwimg">
    <div class="end"></div>


    {% endblock %}