{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
<body>
    <img src="{{url_for('static',filename='img/treeswing.svg')}}" alt="" class="leftimg">
    <div class="bigtxt">
        Wanna Know More About Nature and Wildlife ?
    </div>
    <div class="smalltxt">Then wildfy would be your co-pilot to guide to the tresures of the nature.</div>

    <div class="keyft">
        Key Features
    </div>
    <img src="{{url_for('static',filename='img/deadfish.png')}}" class="deadfish">
    <div class="feature1">
        wildfy helps in saving wildlife and cleaning of the environment.
    </div>
    <img src="{{url_for('static',filename='img/ar.png')}}" class="ar">
    <div class="feature2">
        With wildfy you can see endangered/extinct species of animals in argument reality.
    </div>
    <img src="{{url_for('static',filename='img/news.png')}}" class="news">
    <div class="feature3">
        Wildfy provides you with latesh environmental news.
    </div>
    <img src="{{url_for('static',filename='img/forest.png')}}" class="forest">
    <div class="feature4">
        with wildly you can explore world’s most dangerous forests .
    </div>

    <div class="footer"></div>
    <div class="footertxt">
        Made with ❤️ <br>
        by <a href="https://github.com/Anurag30112003/"> anurag </a>
    </div>

                            
{% endblock %}